/*font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Raleway', sans-serif;*/


* {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #3E413E;
}

h1 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 55px;
}

#title {
  width: 65%;
  margin: 0 auto;
}

.container {
  margin: 20px auto;
  width: 700px;
  padding: 0px 20px 20px 20px;
  border: none;
}

div {
  /*border: 1px solid red;*/
}

a {
  /*color: black;*/
  color: #3E413E;
  text-decoration: none;
  font-weight: bolder;
}


body {
 background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}

#single-q {
  position: relative;
  background-color: #f5efef;
  border-radius: 5px 30px 5px;
  height: 50px;
  max-width: 500px;
  padding: 1%;
  margin-left: 13%;
}

#single-q:hover  #show {
   opacity: 1;
}

#show {
  transition: all 0.5s ease-in-out;
  opacity: 0;
  font-size: 14px;
}
