 <% if @error %>
     <p style="color:red" class="text-center"><%= @error %></p>
   <% end %>

   <% if @logout %>
     <p style="color:purple" class="text-center"><%= @logout %></p>
   <% end %>

   <% if @unauthorized %>
     <p style="color:purple" class="text-center"><%= @unauthorized %></p>
   <% end %>

 <div id="register" class="row">
   <div class="col center">
     <form action="/users/register" method="post">
         <p>Register:</p>
   </div>
   <div class="col center">
         <!-- <label><b>User Name</b></label> -->
         <input type="text" placeholder="Enter User Name" name="username">
   </div>
   <div class="col center">
         <!-- <label><b>Password</b></label> -->
         <input type="password" placeholder="Enter Password" name="password">
   </div>
   <div class="col center">
         <button id="login-b" type="submit">Sign Up</button>
     </form>
   </div>
 </div>


   <div id="login" class="row">
     <div class="col center">
         <form action="/users/profile" method="post">
           <p>Login:</p>
     </div>
     <div class="col center">
       <!-- <label><b>User Name</b></label> -->
       <input type="text" placeholder="Enter User Name" name="username">
     </div>
     <div class="col center">
       <!-- <label><b>Password</b></label> -->
       <input type="password" placeholder="Enter Password" name="password">
     </div>
     <div class="col center">
           <button id="login-b" type="submit">Login</button>
       </form>
     </div>
   </div>
