<div id="nav-bar" class="nav center">
  <a class="nav-item" href="/">Home</a>
  <a class="nav-item" href="/questions">Questions</a>
  <a class="nav-item" href="/users/profile">Profile</a>
  <a class="nav-item" href="/questions/new">Ask A Question</a>



</div>
